.todo-page {
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../assets/bg.jpeg") no-repeat center/cover;
  display: grid;
  place-items: center;
}
